* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 12px;
}

@import "theme.css";

window#waybar {
    /* background: @bar-bg; */
    /* background: linear-gradient(
        to bottom,
        rgba(240, 240, 240, 0.90),
        rgba(150, 150, 150, 0.90)        
    ); */

    background: transparent;
    /* margin: 0px; */
    /* border-radius: 10px; */
    /* padding-bottom: 0px;
    margin-bottom: 0px; */
    /* background-color: transparent; */
}

tooltip {
    border: 2px solid #505050;
    background: @main-bg;
    color: @main-fg;
    border-radius: 8px;
}

#workspaces button {
    /* border: 1px solid @border; */
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @main-fg;
    /* animation: ws_normal 10s ease-in-out 1; */
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
    /* animation: ws_active 10s ease-in-out 1; */
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    /* animation: ws_hover 10s ease-in-out 1; */
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    /* border: 1px solid @border; */
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#custom-border,
#custom-os,
#backlight,
#battery,
#bluetooth,
#custom-cava,
#custom-cliphist,
#clock,
#cpu,
#custom-cpuinfo,
#custom-github_hyprdots,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#privacy,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-l_battery,
#custom-r_battery,
#custom-l_cpu,
#custom-r_cpu,
#custom-l_memory,
#custom-r_memory,
#custom-l_network,
#custom-r_network,
#custom-l_audio,
#custom-r_audio {
    border-top: 2px solid @border;
    border-bottom: 2px solid @border;
    color: @main-fg;
    background: @black;
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#custom-os {
    /* padding-left: 7px;
    border-radius: 10px; */
    padding-left: 0px;
    font-size: 16px;
    color: #30B0E0;
}

#custom-border {
    color: #505050;
    background-color: @black;
}

/* apps */
#custom-keybindhint,
#custom-app,
#custom-terminal,
#custom-nautilus,
#custom-wallpaper,
#custom-vscode,
#custom-flameshot,
#custom-waypaper,
#custom-power {
    background-color: @black; 
    /* border-radius: 7px; */
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px 0px 6px 0px;

    border-top: 2px solid @border;
    border-bottom: 2px solid @border;

    /* animation config */
    transition: all 0.1s ease, color 0.3s ease;
}

#custom-l_battery,
#custom-l_cpu,
#custom-l_memory,
#custom-l_network,
#custom-l_audio {
    margin-left: 4px;
    border-radius: 6px 0px 0px 6px;
    padding-right: 0px;
}

#custom-r_battery,
#custom-r_cpu,
#custom-r_memory,
#custom-r_network,
#custom-r_audio {
    margin-right: 4px;
    border-radius: 0px 6px 6px 0px;
    padding-left: 0px;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio {
    padding-left: 4px;
    padding-right: 4px;
}

#battery {
    color: #BBFF5E;
    padding-left: 0px;
}

#cpu {
    font-size: 14px;
    color: #15E0B9;
}

#memory {
    font-size: 14px;
    color: #20C5EE;
}

#network {
    color: #167EE0;
}

#pulseaudio {
    color: #757EFF;
}

/* for applications bar */
#custom-app {
    color: @app;
    font-size: 17px;
    padding-right: 1px;
}
#custom-app:hover {
    background: radial-gradient(
        circle,
        @app 35%,
        @black 35%
    );
    color: @black;
}

#custom-terminal {
    padding-left: 8px;
    padding-right: 7px;
    color: @terminal;
}
#custom-terminal:hover {
    color: @black;
    background: radial-gradient(
        circle,
        @terminal 35%,
        @black 35%
    );
}

#custom-nautilus {
    font-size: 15px;
    padding-right: 3px;
    color: @nautilus;
}
#custom-nautilus:hover {
    color: @black;
    background: radial-gradient(
        circle,
        @nautilus 35%,
        @black 35%
    );
}

#custom-waypaper {
    font-size: 16px;
    padding-left: 9px;
    padding-right: 2px;
    color: @waypaper;
}
#custom-waypaper:hover {
    color: @black;
    background: radial-gradient(
        circle,
        @waypaper 35%,
        @black 35%
    );
}

#custom-vscode {
    font-size: 15px;
    padding-left: 9px;
    padding-right: 3px;
    color: @vscode;
}
#custom-vscode:hover {
    color: @black;
    background: radial-gradient(
        circle,
        @vscode 35%,
        @black 35%
    );
}

#custom-flameshot {
    font-size: 15px;
    padding-left: 9px;
    padding-right: 4px;
    color: @flameshot;
}
#custom-flameshot:hover {
    color: @black;
    background: radial-gradient(
        circle,
        @flameshot 35%,
        @black 35%
    );
}

#custom-keybindhint {
    font-size: 15px;
    padding-left: 8px;
    padding-right: 5px;
    color: @keybindhint;
}
#custom-keybindhint:hover {
    color: @black;
    background: radial-gradient(
        circle,
        @keybindhint 35%,
        @black 35%
    );
}

/* power button */
#custom-power {
    color: @power;
    border: 2px solid @power;
    border-radius: 20px 20px 20px 20px;
    padding-left: 0px;
    padding-right: 3px;
    padding-top: 1px;
    margin: 8px 10px 6px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#custom-power:hover {
    color: #000000;
    border-color: @power;
    background-color: @power;
}

#workspaces,
#taskbar {
    padding: 2px;
}

#custom-updates {
    color: palegoldenrod;
}

/* normal edge */
#custom-l_end {
    /* border-left: 2px solid @border; */
    border-radius: 10px 0px 0px 10px;
    margin-left: 9px;
    padding-left: 3px;

    border-top: 2px solid @border;
    border-bottom: 2px solid @border;
    border-left: 2px solid @border;
}

#custom-r_end {
    /* border-right: 2px solid @border; */
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    padding-right: 2px;

    border-top: 2px solid @border;
    border-bottom: 2px solid @border;
    border-right: 2px solid @border;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 5px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 8px 8px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 8px 0px 0px 8px;
    margin-left: 9px;
    padding-left: 3px;
}
